.characterNot{
   width: 100%;
   margin-top: 30px;
   padding-left: 20px;
   padding-right: 20px;
   display: flex;
   justify-content: center;
   
   &__container{
       padding-top: 20px;
       margin-left: 5px;
       
   }
   &__img{
       width: 30%;
   }
    &__text{   
        margin-top: 10px;   margin-left: 10px;
        font-size: 16px;
        color: white;
        font-weight: 700;
    }
    &__text2{   margin-left: 10px;
        font-size: 16px;
        color: white;
        font-weight: 700;
        color: $colorCharacter;
    }
    @include tablet {
        padding-left: 50px;
        padding-right: 50px;
        &__container{
            padding-top: 20px;
            margin-left: 5px;
            
        }
        &__img{
            width: 150px;
        }
         &__text{   
             margin-top: 10px;   margin-left: 30px;
             font-size: 20px;
             color: white;
             font-weight: 700;
         }
         &__text2{   margin-left: 30px;
             font-size: 20px;
             color: white;
             font-weight: 700;
             color: $colorCharacter;
         }
    }
}
