.pageNot{
    width: 100%;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    
    &__container{
        padding-top: 20px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;

        
    }
    &__img{
        width: 40%;
    }
     &__text{  
         width: 50%; 
         margin-top: 10px;   margin-left: 10px;
         font-size: 14px;
         color: white;
         font-weight: 700;
     }
     &__text2{   
        width: 50%; 
        margin-left: 10px;
         font-size: 14px;
         color: white;
         font-weight: 700;
         color: $colorCharacter;
     }
     &__button{
        width: 100px;
        background-color: $colorInputText;
        height: 40px;
        border-radius: 5px;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 3px;
        margin-top: 20px;
        }
     @include tablet {
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         align-content: center;
         padding-left: 50px;
         padding-right: 50px; 
         &__container{
             padding-top: 20px;
             margin-left: 5px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 50px;
            flex-grow: 0;
            width: 300px;
             
         }
         &__img{
             width: 200px;
         }
          &__text{   
              margin-top: 10px;   
              font-size: 18px;
              color: white;
              font-weight: 700;
          }
          &__text2{   
              font-size: 18px;
              color: white;
              font-weight: 700;
              color: $colorCharacter;
          }
          &__button{
            width: 200px;
            background-color: $colorInputText;
            height: 40px;
            border-radius: 5px;
            color: white;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 3px;
            margin-top: 20px;
            }
     }
 }
 